*{margin:0; padding:0;}

body {
    background: #f9f8f0;
}

header {
    width: 100%;
    overflow: hidden;
    background: #ffcc33;
    margin-bottom: 20px;
    height: 320px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
    text-align: justify;
}

h1 {
    text-align: center;
}

header .logo {
    margin: auto;
    text-align: center;
}

header nav {
    margin: auto;
    text-align: center;
    line-height: 50px;
}

header nav a {
    display: inline-block;
    color:#000;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover {
    background: #666666;
    border-radius: 50px;
}

.contenido {
    padding-top: 10px;
}

.contenido h1 {
    margin-bottom: 1em;
}

.contenido h4 {
    margin-bottom: 2em;
}


footer {
    width: 100%;
    overflow: hidden;
    background: #ffcc33;
    height: 50px;
    padding-top: 20px;
}

h2 {
    text-align: center;
}

.titulo {
    color: #ffcc33;
}

.white {
    color: #fff;
}

.regalo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.iconos {
    display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}